.menu{
    position: fixed;
    ;
}
.contenido{
    position: relative;
    }
.contenido img{
        position: absolute;
        top: 0%;
        right: 0%;
        width: 400px;
        


    }
    h1{
        position: sticky;
        ;
    }